.upcomingProductsContent {
  color: #ffffff;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(18px);
  min-width: 200px;
}

.powContainer {
  padding: 2rem;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcomingProductsTagline {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.upcomingProductsTitle {
  padding: 0px;
  padding-bottom: 1rem;
  margin: 0px;
}

.upcomingProductsBtn {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background: transparent;
  border: #ffffff 2px solid;
  margin-top: 1rem;
  color: white;
}

.upcomingProductsBtn:haver {
  background-color: white;
  transition: ease-in 500px;
}
